@model IEnumerable<DAL.DBContext.Book>

@{
    ViewBag.Title = "ShoppingCart";
    double sum = 0;
}


@if (Model == null)
{


    <div class="container">
        <h1>Cart is empty</h1>
    </div>
}
else
{

    <div class="container" style="margin-top:10px">
        <div class="table-responsive">
            <table class="table table-bordered table-sm table-striped m-10px">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        sum += book.BuyPrice;
                        <tr>
                            <td scope="row">@book.Title</td>
                            <td> <img src="@book.CoverImage" alt="book error" height="150px" width="200px" /> </td>
                            <td>@book.BuyPrice</td>
                            <td>
                                <a href="@Url.Action("RemoveItem", "ShoppingCart", new {id = book.BookId})">
                                    <span class="glyphicon glyphicon-remove" style="color:red">
                                    </span>
                                </a>
                            </td>

                        </tr>
                    }
                    <tr>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-right"> <b> Total </b></td>
                        <td> @sum </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <input id="Terms of service" type="checkbox" value="false" name="TermsOfService" />
    <input type="hidden" value="false" name="TermsOfService" />
    <span>Terms of serivce </span>

    <div>
        @Html.ActionLink("PayWithPayPal", "PaymentWithPaypal", null, new { @class = "btn btn-primary" })
    </div>
}

