@using DAL.DBContext
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        UserAsp user = Session["User"] as UserAsp;
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logo", "Index", "Book", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    @if (user != null)
                    {

                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                @user.FullName
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Profile", "Profile", "UserProfile", new { id = user.UserId }, null)
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">Posudbe</a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">Kupljene knjige</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="@Url.Action("ShoppingCart", "ShoppingCart")">
                                <span class="glyphicon glyphicon-shopping-cart">Cart(@Session["cartCount"])</span>
                            </a>
                        </li>
                        <li>
                            <button class="btn btn-danger"
                                    style="margin-top:10px">
                                @Html.ActionLink("Logout", actionName: "Logout", controllerName: "Account")
                            </button>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Registration", "Registration", controllerName: "Account")</li>
                        <li>@Html.ActionLink("Login", "Login", controllerName: "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
