@model IEnumerable<DAL.DBContext.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })


<table class="table table-responsive">
    <tr>
        <th>
            Naslov
        </th>

        <th>
            <strong>Autor</strong>
        </th>
        <th>
            Izdavac
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowPrice)
        </th>



        <th class="text-center" style="width:200px;">Akcija</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.BookId">
            <td width="20%">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.BorrowPrice)
            </td>

            <td>
                <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@item.BookId)">Delete </a>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Hide", "Hide", new { id = item.BookId }, new { @class = "btn bg-warning" })

            </td>
        </tr>
    }

</table>
