@model IEnumerable<DAL.DBContext.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button class="btn btn-primary text-danger">
    @Html.ActionLink("Create New", "Create")
</button>

<table class="table">
    <tr>
        <th>
            Naslov
        </th>

        <th>
            <strong>Autor</strong>
        </th>
        <th>
           Izdavac
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowPrice)
        </th>
    


        <th class="text-center" style="width:200px;">Akcija</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Publisher.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ISBN)
    </td >
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.BuyPrice)
    </td>
    <td class="text-center">
        @Html.DisplayFor(modelItem => item.BorrowPrice)
    </td>
   
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.BookId }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Hide", "Details", new { id = item.BookId }, new { @class = "btn bg-warning" })

    </td>
</tr>
}

</table>
